/* wide > 730px*/
html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Alata;
	background-color: white;
}
@font-face{
	font-family: Alata;
	src:url('Alata.ttf');
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
button{
	outline: none;
}
.menu{
	background: linear-gradient(#7c40ff, #7c40ff, #9b6dff);
	width: 220px;
	padding: 10px;
	height: calc(100% - 20px);
	position: absolute;
	left: 0px;
	top: 0px;
	color: white;
	text-align: center;
}
.menu_top{
	background-color: #7c40ff;
	width: calc(100% - 260px);
	position: absolute;
	top: 0px;
	right: 0;
	height: 40px;
	padding: 10px;
	color: white;
	line-height: 40px;
	text-align: right;
	float: left;
}
.page, .pageCenter{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 30px;
	width: calc(100% - 300px);
	height: calc(100% - 120px);
	background-color: #fff;
	overflow: auto;
}
.pageCenter{
	text-align: center;
}
.giant{
	font-size: 100px;
	margin: 0px;
}
.giant a{	
	color: white;
	text-decoration: none;
}
.h1Big{
	font-size: 40px;
}
.pBig, .pBigRed{
	font-size: 20px;
}
.pBigRed{
	color: red;
}
/* pasek search */

.search_form{
	height: 40px;
	margin: auto;
	padding: 0 5px 0 5px;
	width: 300px;
	position: absolute;
	right: 0px;
}
.search_input{
	height: 30px;
	width: 245px;
	float: left;
	margin:0px;
	padding: 5px;
	padding-left: 10px;
	border-radius: 20px 0 0 20px;
	border: 0px;
	outline: none;
	font-size: 20px;
	background-color: white;
	color: black;
	font-family: Alata;
}
.search_button{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	border: 0px;
	margin:0px;
	padding: 5px;
	font-family: Alata;
	font-size: 20px;
	outline: none;
	font-size: 20px;
	position: absolute;
	left: 260px;
	background-color: #ddd;
	z-index: 2;
}
.search_join{
	height: 40px;
	width: 20px;
	background-color: white;
	z-index: 1;
	border: 0px;
	float: left;
	margin:0px;
	position: absolute;
	left: 260px;
	padding: 0px;
}

/* przyciski w menu */

.menu_button_holder{
	width: 200px;
	margin: auto;
	margin-top: 50px;
	display: block;
}
.menu_button_holder button{
	margin: auto;
	width: 180px;
	height: 50px;
	margin-bottom: 10px;
	background-color: transparent;
	border: 2px white solid;
	color: white;
	font-family: Alata;
	font-size: 20px;
	border-radius: 25px;
	transition-duration: 0.5s;
}
.menu_button_holder button:hover{
	background-color: white;
	color: #7c40ff;
	border-color: #9b6dff;
}

/* Wyświetlanie wyniku - search html */

.word_holder{
	position: relative;
	width: 100% ;
	min-height: 240px;
}
.word_holder span{
	min-height: 120px;
}

.word_word{
	position: absolute;
	text-align: center;
	display: flex;
	align-items: center;
	top: 0px;
	width: 100%;
}
.word_word h1{
	margin: auto;
	font-size: 40px;
}

.word_basics{
	position: absolute;
	text-align: right;
	top: 120px;
	left: 0px;
	width: calc(50% - 10px);
}
.word_category{
	text-align: left;
	position: absolute;
	top: 120px;
	right: 0px;
	width: calc(50% - 10px);
}
.word_category h2{
	margin-bottom: 0px;
}
.word_category h3{
	margin-top: 0px;
}
.word_category p{
	margin: 0px;
}
.word_definition{
	font-size: 30px;
	text-align: justify;
}
.word_footer{
	position: absolute;
	bottom: 0px;
	width: calc(100% - 60px);
	text-align: center;
}

/* styl formularzy - form html */

.tableForm{
	width: 100%;
	line-height: 30px;
	font-size: 20px;
}
.tableForm th{
	width: calc(100%/3);
	text-align: right;
}
.tableForm td{
	width: calc(200%/3);
}
.tableForm td *{
	width: 50%;
	min-width: 300px;
	font-size: 20px;
	font-family: Alata;
}
.tableForm td textarea{
	resize: vertical;
	overflow: auto;
	min-width: 302px;
	max-height: 300px;
}
.infoForm{
	text-align: center;
	display: flex;
	align-items: center;
	top: 0px;
	width: 100%;
	margin-bottom: 20px;
}
.infoForm h1{
	margin: auto;
	font-size: 40px;
}
.tableForm td nav{
	overflow: auto;
	max-height: 200px;
	text-align: center;
}
.tableForm td nav *{
	max-width: unset;
	width: auto;
	min-width: unset;
}
.tableForm td nav label{
	display: inline-block;
	float: left;
	width: auto;
	margin-left: 10px;
}
.navForm{
	margin-top: 20px;
	text-align: center;
	width: 100%;
}
.navForm input{
	font-size: 30px;
	font-family: Alata;
	width: 180px;
	padding: 1px 6px;
	color: white;
	border: 2px white solid;
	border-radius: 25px;
	height: 50px;
	background: linear-gradient(#7c40ff, #7c40ff, #9b6dff);
	outline: none;
	
}
.selectForm select{
	min-width: 270px;
	width: calc(50% - 30px);
}
.selectForm div{
	min-width: unset;
	width:  30px;
	display: inline-block;
	text-align: center;
	border: 1px #767676 solid;
}
.selectForm div a{
	font-size: 20px;
	font-family: Alata;
	color: black;
	text-decoration: none;
}
.selectForm div a:visited{
	color: black;
}

/* noresult html */

@keyframes magicBtnAnim{
	0%{
		top: -15px;
		left: -20px;
	}
	12.5%{
		top: 5px;
		left: -30px;
	}
	25%{
		top: 25px;
		left: -20px;
	}
	37.5%{
		top: 25px;
		left: 50px;
	}
	50%{
		top: 25px;
		left: 120px;
	}
	62.5%{
		top: 5px;
		left: 130px;
	}
	75%{
		top: -15px;
		left: 120px;
	}
	87.5%{
		top: -15px;
		left: 50px;
	}
	100%{
		top: -15px;
		left: -20px;
	}
}

.divCenter{
	text-align: center;
}

.magicBtn{
	position: absolute;
	background-color: #7c40ff;
	font-family: Alata;
	font-size: 20px;
	border-radius: 25px;
	border: 0px white solid;
	text-decoration: none;
	color: white;
	height: 40px;
	width: 160px;
	top: 5px;
	text-align: center;
	left: 5px;
	line-height: 40px;
}

.magicBtnBorder, .magicBtnBorder2{
	position: absolute;
	width: 80px;
	border-radius: 25px;
	background: radial-gradient(circle,#9b6dff, rgba(0,0,0,0) );
	height: 40px;
}
.magicBtnBorder{
	animation: magicBtnAnim 1.5s infinite linear;
}
.magicBtnBorder2{
	animation: magicBtnAnim 1.5s -0.75s infinite linear;
}
.magicBtnHolder{
	position: relative;
	height: 50px;
	width: 170px;
	background-color: #7c40ff;
	border-radius: 25px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto; 
}

/* wyniki wyszukiwania - result html */
.resultTable{
	width: 100%;
	overflow: auto;
	border-collapse: collapse;
}
.resultTable td{
	padding: 5px;
}
.resultHead td, .resultHead th{
	font-size: 20px;
	border-bottom: 2px black solid ;
}
.resultTable tr.result:nth-child(even) a{
	color: black;
}
.resultTable tr.result:nth-child(odd){
	background-color: rgba(155, 109, 255, 0.5);
	color: black;
}
.resultTable tr.result:nth-child(odd) a{
	color: black;
}

/* categories html */

.categoryCloud{
	display: inline-block;
	padding: 20px;
	font-size: 25px;
	background-color: white;
	line-height: 30px;
	margin:5px;
	border: 2px solid #9b6dff;
	border-radius: 20px;
	transition-duration: 0.5s;
	transition-property: color, background;
	text-decoration: none;
	color: #7c40ff;
}
.categoryCloud p{
	margin: 0px;
	color: #7c40ff;
}
.categoryCloud:hover{
	background-color: #9b6dff;
}
.categoryCloud:hover *{
	color: white;
}

/* login html */
.btnMagicBtn{
	all:unset;
}
.loginInputHolder{
	min-width: 200px;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}
.loginInputHolder input{
	font-family: Alata;
	outline: none;
	margin-bottom: 10px;
	padding: 0 10px;
	border-radius: 16px;
	height: 40px;
	width: calc(100% - 8px);
	display: block;
	font-size: 20px;
}
.loginFail{
	font-size: 30px;
	color: red;
}

/* user add - user html */
.userTableForm{
	width: 100%;
	overflow: auto;
	text-align: center;
	font-family: Alata;
}
.userTableForm td *{
	width: 90%;
	font-size: 20px;
	font-family: Alata;
}
.userTableForm td button{
	background-color: #7c40ff;
	color: white;
	border: 2px solid #7c40ff;
	border-radius: 50px;
}